<footer class="footer">
  <small>
    Thank you for visiting <a href="http://www.starboardsewing.com">Starboard Sewing!</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
      <li><%= link_to "New Projects", "#" %></li>
    </ul>
  </nav>
</footer>